div#main-container {
    height: 100%;
    width: 100%;
}

.hidden{
    visibility: hidden;
}

/* ========== First container ========== */

div#container1 {
    height: 210px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div#logo-container {
    height: 210px;
    width: 210px;

    -webkit-animation: fadeIn 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeIn 1s; /* Firefox < 16 */
        animation: fadeIn 1s;
        animation-delay: 0.8s;
}

img#GSLogo {
    height: 100%;
    width: 100%;
}

div#title {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

span#api-name {
    font-family: 'Sigmar One', cursive;
    font-size: 55px;
    color: #3d3d3d;

    -webkit-animation: fadeIn 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeIn 1s; /* Firefox < 16 */
        animation: fadeIn 1s;
        animation-delay: 0.1s;
}

/* ========== Third container ========== */

div#container2 {
    height: 100%;
    width: 100%;

    background-color: #f3f3f3;

    display: flex;
    flex-direction: column;
}

/* Every Step */

.step {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: auto;
    margin-bottom: auto;

    -webkit-animation: fadeIn 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeIn 1s; /* Firefox < 16 */
        animation: fadeIn 1s;
        animation-delay: 0.5s;    
}

.step-img-container {
    height: 96px;
    width: 96px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.step-img {
    margin-top: auto;
    margin-bottom: auto;
    height: 95%;
    width: 95%;
}

.step-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 92%;
}

.step-title {
    font-size: 28px;
    color: #3d3d3d;
    font-weight: bold;
}

.step-description {
    font-size: 18px;
    color: #696969;
}

/* ========= popup =========*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    font: inherit;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 400px;
    height: 175px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #3d3d3d;
    text-decoration: none;
    cursor: pointer;
}
  
.modal-header {
    font: inherit;
    padding: 2px 16px;
    background-color: #b8e065;
    color: #3d3d3d;
}
  
.modal-body {padding: 2px 46px;}

#fnUrl{
    font: inherit;
    height: 28px;
    width: 235px;
    margin-top: 8px;

    border-radius: 5%;
    outline: none;
    border-width: 1px;
}