div#main-container {
    height: 3000px;
    width: 100%;
}

.hidden{
    visibility: hidden;
}

/* ========== First container ========== */

div#container1 {
    height: 210px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div#logo-container {
    height: 210px;
    width: 210px;

    -webkit-animation: fadeIn 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeIn 1s; /* Firefox < 16 */
        animation: fadeIn 1s;
        animation-delay: 0.8s;
}

img#GSLogo {
    height: 100%;
    width: 100%;
}

div#title {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

span#api-name {
    font-family: 'Sigmar One', cursive;
    font-size: 55px;
    color: #3d3d3d;

    -webkit-animation: fadeIn 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeIn 1s; /* Firefox < 16 */
        animation: fadeIn 1s;
        animation-delay: 0.1s;
}

/* ========== Third container ========== */

div#container2 {
    height: 700px;
    width: 100%;

    background-color: #f3f3f3;

    display: flex;
    flex-direction: column;
}

/* Every Step */

.step {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: auto;
    margin-bottom: auto;

    -webkit-animation: fadeIn 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeIn 1s; /* Firefox < 16 */
        animation: fadeIn 1s;
        animation-delay: 0.5s;    
}

.step-img-container {
    height: 96px;
    width: 96px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.step-img {
    margin-top: auto;
    margin-bottom: auto;
    height: 95%;
    width: 95%;
}

.step-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 96px;
    width: 92%;
}

.step-title {
    font-size: 28px;
    color: #3d3d3d;
    font-weight: bold;
}

.step-description {
    font-size: 18px;
    color: #696969;
}