.login-form-container{
    height: 400px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: #f3f3f3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.signup-form-container{
    height: 500px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: #f3f3f3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

button#login-button{
    margin-left: auto;
    margin-right: auto;
}

button#signup-button{
    margin-left: auto;
    margin-right: auto;
}