<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="/stylesheets/getting_started.css">

    <%/* These functions are meant to create a "show element" chain */%>
        <script>
            function delay() {
                setTimeout(function() {
                    document.getElementById("api-name").style.visibility = "visible";
                }, 100);
                setTimeout(function() {
                    var elements = document.getElementsByClassName('step');
                    for (var i = 0; i < elements.length; i++) {
                        elements[i].style.visibility = 'visible';
                    }
                }, 500);
                setTimeout(function() {
                    document.getElementById("GSLogo").style.visibility = "visible";
                }, 800);
            }
        </script>

        </head>

        <body>
            <%- include('../includes/navigation.ejs') %>
                <div id="main-container">

                    <div id="container1" class="card">
                        <div id="title">
                            <span class="hidden" id="api-name" onload="delay();">
                    Getting started
                </span>
                        </div>

                        <div id="logo-container">
                            <img src="/images/puggywrap.png" alt="Puggy Wrap Logo" class="hidden" id="GSLogo" onload="delay();">
                        </div>
                    </div>

                    <div id="container2" class="card">
                        <div class="step" onload="delay();">
                            <div class="step-img-container">
                                <img src="/images/one.png" alt="Step 1 image" class="step-img">
                            </div>
                            <div class="step-description-container">
                                <span class="step-title">
                        Usage
                    </span>
                                <span class="step-description">
                        There are two ways of using a function in your html code:<br>
                        <h2>Importing the basic script</h2>
                        <p>
                            To do this, you just need to add a script tag to your html similar to this one:
                            <br>
                            <br>
                            &ltscript type="text/javascript" src="http://localhost:3000/basic_import"&gt&lt/script&gt
                            <br>
                        </p>
                        <h2>Importing the function directly</h2>
                        <p>
                            To import a function directly, just add it as a script in your html code like this:
                            <br>
                            <br>
                            &ltscript type="text/javascript" src="http://localhost:3000/fn-02"&gt&lt/script&gt
                            <br>
                            <br>
                            Where fn-02 is the function id, which can be seen in the Function Details page of every function. As well, you can set a Query Parameter called Version which provides you the ability to indicate what version you want to pull and in order to do this just add the following script:
                            <br>
                            <br>
                            &ltscript type="text/javascript" src="http://localhost:3000/fn-02?version=3"&gt&lt/script&gt
                        </p>
                    </span>
                            </div>
                        </div>

                        <div class="step">
                            <div class="step-img-container">
                                <img src="/images/two.png" alt="Step 2 image" class="step-img">
                            </div>
                            <div class="step-description-container">
                                <span class="step-title">
                        Searching Functions
                    </span>
                                <span class="step-description">
                        In the <a href="/admin/functions">Functions</a> or <a href="/admin/my_functions">My Functions</a> pages, you can use the search bar 
                        to look for specific functions. There are 2 main ways to look for functions:<br>
                        The first way is to define a specific category that you want to look for. The categories are the following:
                        <ul>
                            <li>name -> Function Name</li>
                            <li>user -> Function Creator</li>
                            <li>code -> Function Code</li>
                            <li>tag -> Function Tag</li>
                            <li>description -> Function Description</li>
                        </ul>
                        To use them use the following format: <b>category:value</b> <br>
                        If on the other hand, you just type a specific text, it will look for matches in all the categories mentioned before.
                    </span>
                            </div>
                        </div>

                        <div class="step">
                            <div class="step-img-container">
                                <img src="/images/three.png" alt="Step 3 image" class="step-img">
                            </div>
                            <div class="step-description-container">
                                <span class="step-title">
                        Adding a Function
                    </span>
                                <span class="step-description">
                        To add a function, first go to the <a href="/admin/add_function">add function page</a>. In there you'll have to givi it a name, add a description,
                        write the code for the function and, if you want, add tags and choose dependencies. This last field is used if your code wants to use
                        existing code from another function. After filling up the fields, click on the add button to finish your work.
                    </span>
                            </div>
                        </div>

                        <div class="step">
                            <div class="step-img-container">
                                <img src="/images/four.png" alt="Step 4 image" class="step-img">
                            </div>
                            <div class="step-description-container">
                                <span class="step-title">
                        Updating a Function
                    </span>
                                <span class="step-description">
                        If you want to change something from one of your functions, you can look for the function in your <a href="/admin/my_functions">functions page</a>. 
                        From there, select the function you want to edit and click on the update button. In there, you'll find the same fields as in the previous section, 
                        all of which are updateable. When you're done, just hit the update button.
                    </span>
                            </div>
                        </div>

                        <div class="step">
                            <div class="step-img-container">
                                <img src="/images/five.png" alt="Step 5 image" class="step-img">
                            </div>
                            <div class="step-description-container">
                                <span class="step-title">
                        Getting a function URL
                    </span>
                                <span class="step-description">
                        If you're going to add a function directly to a script tag, you'll need the function url. To get it go to the <a href="/admin/functions">functions page</a>, 
                        and then click on the <b>See details</b> button. From there, just click on the <b>export</b> button to see the function's url, which you 
                        can then add to your html script tag.
                    </span>
                            </div>
                        </div>

                    </div>

                </div>
                <%- include('../includes/end.ejs') %>