<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Fonts import -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sigmar+One" rel="stylesheet">

    <link rel="stylesheet" href="../../../public/stylesheets/getting_started.css">

    <title>PuggyWrap - Getting Started</title>
</head>
<body>
    <div id="main-container">

        <div id="container1">
            <div id="title">
                <span id="api-name">
                    PUGGYWRAP
                </span>

                <span id="message">
                    Getting started
                </span>
            </div>

            <div id="logo-container">
                <img src="../../../public/images/puggywrap.png" alt="Puggy Wrap Logo" id="logo">
            </div>
        </div>


        <div id="container2">
            <span>Everything you should know</span>
        </div>

        <div id="container3">
            <div class="step">
                <div class="step-img-container">
                    <img src="../../../public/images/one.png" alt="Step 1 image" class="step-img">
                </div>
                <div class="step-description-container">
                    <span class="step-title">
                        Sample
                    </span>
                    <span class="step-description">
                        This is a description
                    </span>
                </div>
            </div>

            <div class="step">
                <div class="step-img-container">
                    <img src="../../../public/images/two.png" alt="Step 2 image" class="step-img">
                </div>
                <div class="step-description-container">
                    <span class="step-title">
                        Sample
                    </span>
                    <span class="step-description">
                        This is a description
                    </span>
                </div>
            </div>

            <div class="step">
                <div class="step-img-container">
                    <img src="../../../public/images/three.png" alt="Step 3 image" class="step-img">
                </div>
                <div class="step-description-container">
                    <span class="step-title">
                        Sample
                    </span>
                    <span class="step-description">
                        This is a description
                    </span>
                </div>
            </div>

            <div class="step">
                <div class="step-img-container">
                    <img src="../../../public/images/four.png" alt="Step 4 image" class="step-img">
                </div>
                <div class="step-description-container">
                    <span class="step-title">
                        Sample
                    </span>
                    <span class="step-description">
                        This is a description
                    </span>
                </div>
            </div>

            <div class="step">
                <div class="step-img-container">
                    <img src="../../../public/images/five.png" alt="Step 5 image" class="step-img">
                </div>
                <div class="step-description-container">
                    <span class="step-title">
                        Sample
                    </span>
                    <span class="step-description">
                        This is a description
                    </span>
                </div>
            </div>

            <div class="step">
                <div class="step-img-container">
                    <img src="../../../public/images/six.png" alt="Step 6 image" class="step-img">
                </div>
                <div class="step-description-container">
                    <span class="step-title">
                        Sample
                    </span>
                    <span class="step-description">
                        This is a description
                    </span>
                </div>
            </div>

        </div>

    </div>
</body>
</html>