<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some error occurred!</h1>
    <p>But don't worry, we have at least 5 pugs currently working on the issue!</p>

<%- include('includes/end.ejs') %>